# Aurelius Source Code
# Copyright (c) 2025 Aurelius Systems, Inc.
# Licensed under the Aurelius Open License.

*.py linguist-language=Python
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.css linguist-language=CSS
*.html linguist-language=HTML

* text=auto eol=lf
